{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
{% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}

<div class="text-center">
    <div class="container p-3">
        <h1 class=" h3 card-title  font-weight-bold">Register Here!!!</h1>
        <p>Already have an account?<a href="{{ login_url }}"> Login here!</a>
        </p>
        <form method="POST" class="signup" id="signup_form" action="{% url 'account_signup' %}">
            {% csrf_token %}{{ form | crispy }}

            <button class="btn btn-sm btn-dark" type="submit">Register</button>
        </form>
    </div>
</div>
{% endblock %}