{% extends "base.html" %}
{% block content %}
{% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ booking.user }}</a>
            <small class="text-muted">{{ booking.date|date:"F d, Y" }}</small>
            {% if booking.user == user %}
            <div>
                <a class='btn btn-secondary btn-small mt-1 mb-1' href="{% url 'booking_edit' object.id %}">Edit</a>
                <a class='btn btn-danger btn-small mt-1 mb-1' href="#">Cancel</a>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ booking.helptype }}</h2>
        <p class="article-content">{{ booking.date|date:"l" }}</p>
    </div>
</article>

{% endblock content %}