* {
    margin: 0;
    border: none;
    padding: 0
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
}


h1,
h2,
h3 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/* Nav-Bar */
#header {
    background-color: rgba(0, 0, 0, 0.4);
}

#nav-bar {
    z-index: 1000;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

#nav-bar .navbar-nav .nav-link:hover {
    color: #a9dafa;
    font-weight: 700;
    transform: scale(1.15)
}

.logo {
    overflow: hidden;
}

/* Hero-Section */
#hero-content {
    font-size: 130%;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 4px;
    background-color: rgba(0, 0, 0, .4);
    bottom: 30%;
    position: absolute;
    z-index: 1;

}

.carousel .carousel-item {
    height: 600px;
}

.carousel-item img {
    height: 600px;
}

.about-image {
    width: 100%;
    overflow: hidden;
}

#copyright {
    background-color: rgba(0, 0, 0, 0.2);
}