@import url('https://fonts.googleapis.com/css2?family=Fauna+One&family=Montserrat&family=Playfair:wght@500&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0
}

body {
    font-family: Fauna One, sans-serif;
    font-size: large;

}

h1,
h2 {
    font-family: Playfair, sans-serif;
    letter-spacing: 4px;
}

/* Nav-Bar */

#nav-bar {
    z-index: 1;
    top: 0;
    background-color: rgba(0, 0, 0, 0.125);
}

#logo {
    height: 50px;
    width: 50px;
    z-index: 1000;
    border-radius: 50%;
    margin-right: 1rem;
}

#nav-bar .navbar-nav .nav-link {
    font-weight: 500;
    font-size: large;
    color: black;
}

#nav-bar .navbar-nav .nav-link:hover {
    color: rgb(15, 234, 48);
    font-weight: 700;
    transform: scale(1.15)
}

/* Hero-Section */
#hero-content {
    font-size: 130%;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 4px;
    background-color: rgba(54, 250, 47, 0.4);
    bottom: 40%;
    position: absolute;
    z-index: 1;

}

/* Mission and Vision Section */
#mission {
    min-height: 600px;
    background-size: 100% 100%;
    background-color: rgba(31, 227, 237, 0.4);
}

#vision {
    background-image: url(https://res.cloudinary.com/dh6umdpzt/image/upload/v1685084323/vision_rpxkgk.webp);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    overflow: hidden;
    margin-bottom: 0;
}

/* About-Section */

#about {
    background-image: url(https://res.cloudinary.com/dh6umdpzt/image/upload/v1685112279/about-image_ehggot.jpg);
    margin-bottom: 30px;
}

.about-image {
    width: 100%;
    overflow: hidden;
}

/* Stories */

.stories {
    background-image: url(https://res.cloudinary.com/dh6umdpzt/image/upload/v1685090844/stories_fi6qao.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.card-img-top {
    height: 100%;
    overflow: hidden;
}

.cover-image {
    height: 40vh;
    overflow: hidden;
    width: 60%;
}

/* Account & Delete Pages */

.account-body {
    background-image: url(https://res.cloudinary.com/dh6umdpzt/image/upload/v1685101509/login_yy6htm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}


/* Bookings */

#booking {
    min-height: 600px;
}

/* footer */
#copyright {
    background-color: rgba(0, 0, 0, 0.2);
}