{% extends 'base.html' %}
{% block content %}

{% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}
<h1 class="text-center">Our Stories</h1>
<div class="container pt-3">
    <div class="row">

        <!-- Blog Entries Column -->
        {% for post in humanitas_post %}
        <div class="col-lg-6 mb-4">
            <div class="card h-100">
                {% if "placeholder" in post.cover_image.url %}
                <img class="card-img-top" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                    width="450" height="250">
                {% else %}
                <img class="card-img-top" src=" {{ post.cover_image.url }}">
                {% endif %}
                <div class="card-body">
                    <div class="h3 card-title text-center"> <a class="text-warning"
                            href="{% url 'blog_details' post.pk %}">{{
                            post.title }}</a>
                    </div>
                    <p class=" d-flex justify-content-between text-white-50"><strong>{{ post.creator }} | {{
                            post.created_on }}</strong>
                    </p>
                </div>
                <h3 class="card-text text-black">{{ post.body| slice:":100"}}</h3>
                <hr />
            </div>
        </div>
    </div>
</div>
<div class="row">
    {% endif %}
    {% endfor %}

</div>
{% endif %}
{% endblock content%}