{% extends 'base.html' %}
{% block content %}
{% load static %}

{% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}
<!-- About Us-->
<section>
    <div class="container-fluid px-4 px-lg-5">
        <h1 class="mb-4 mt-3 text-center">
            About Us
        </h1>
        <hr>
        <div class="row gx-4 gx-lg-5" id="about">
            <div class="col text-white">
                <h2 class="mb-4 mt-3">
                    What We Do!
                </h2>
                <p class="px-2">Humanitas acts as a global filter function for people in need to existing help. We only
                    connect
                    when
                    necessary and to
                    the right address of help. Trained staff can recognize whether a request requires referral to an
                    aid
                    organization or if
                    help can already be provided in advance with a professional consultation.</p>
            </div>

        </div>
    </div>
</section>
<!-- History -->
<section id="history">
    <div class="container-fluid bg-light">
        <div class="row">
            <h2 class="mb-4 mt-3 px-4">
                Our Story
            </h2>
            <div class="col-lg-8">

                <p class="px-4">We are a couple, two individuals hailing from vastly different countries –
                    India and Germany. In
                    2018, destiny intervened, bringing us together. Prior to that moment, each of us led separate lives
                    filled with
                    happiness. One served as a naval officer in military, while other held a managerial position within
                    a cruise
                    ship fleet. By a
                    stroke of luck, our paths crossed in Kochi, South India, and the instant we laid eyes on each other,
                    love ignited.
                    Little did we know that the years to come would unravel our lives, presenting unimaginable
                    challenges that would test
                    our resilience and jeopardize our dreams of togetherness. Initially, it appeared as though our
                    longing for a life
                    intertwined would be thwarted.

                    Our journey was fraught with numerous hurdles, each of which we managed to conquer, armed with
                    essential attributes such
                    as courage, determination, financial stability, perseverance, unwavering support, and the unwavering
                    bond we shared.

                    Along our arduous path, we found ourselves pondering a critical question: How do individuals
                    navigate or overcome
                    life-threatening situations when they lack the necessary prerequisites for success? Extensive
                    research within our circle
                    of family, friends, and acquaintances yielded a disheartening answer: Many simply surrender to their
                    circumstances.

                    This poignant realization served as the catalyst for the birth of "Humanitas".</p>
            </div>
            <div class="col-lg-4">
                <img class="about-image mt-3"
                    src="https://res.cloudinary.com/dh6umdpzt/image/upload/v1685012506/static/images/73f5d459-7399-4400-9130-b4162e7bc061.jpg">
            </div>
        </div>
    </div>
</section>
{% block footer %}{% include 'footer.html' %}{% endblock footer %}
{% endblock content %}