{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}

{% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}

<!-- Contact form -->
<section>
    <div class="bg-dark">
        <h1 class="text-center text-white">CONTACT US</h1>
    </div>

    <div class="container-fluid my-4">
        <div class="row justify-content-center">
            <div class="col">
                <form method="POST">
                    {% csrf_token %}{{ contact_form | crispy }}

                    <button class="btn btn-sm btn-dark" type="submit">Send</button>
                </form>

            </div>
        </div>
    </div>
</section>
{% endblock content %}