{% block footer %}
<footer class="bg-dark text-center text-white">
    <div class="container p-4 pb-0">
        <div class="row">
            <section class="col-lg-4 mb-4">
                <h3>Address</h3>
                <p>
                    Jacobsohn Strasse <br>
                    Berlin, Germany<br><br>
                </p>
            </section>
            <!-- Section: Social media -->
            <section class="col mb-4">
                <h3>Social Media</h3>
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.twitter.com" target="_blank"
                    role="button"><i class="fab fa-twitter"></i> Twitter</a>

                <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/" target="_blank"
                    role="button"><i class="fab fa-linkedin-in"></i> LinkedIn</a>

                <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" target="_blank"
                    role="button"><i class="fab fa-instagram"></i> Instagram</a>

                <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" target="_blank"
                    role="button"><i class="fab fa-facebook"></i> Facebook</a>
            </section>
        </div>

    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="{% url 'home' %}">Humanitas | Educational Purpose Only</a>
    </div>
</footer>

{% endblock footer %}