{% block footer %}
<footer class="bg-dark text-center text-white">
    <div class="container p-4 pb-0">
        <div class="row">
            <!-- Section: Address -->
            <section class="col-lg-4 mb-4">
                <h3>Our Address <i class="fa-regular fa-address-card"></i></h3>
                <br>
                <p>Humanitas<br>
                    JacobsohnStraße, Weißensee<br>
                    Berlin
                    <br>Germany- 13086
                </p>
                <br>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2425.6546022785624!2d13.43542961594484!3d52.55777237982144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84df25a84b3b1%3A0xb4959c89fe6c2e2!2sJacobsohnstra%C3%9Fe%2053B%2C%2013086%20Berlin!5e0!3m2!1sen!2sde!4v1677247106137!5m2!1sen!2sde"
                    title="Our Location" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>

            </section>
            <!-- Section: Social media and Useful Links -->
            <section class="col mb-4">
                <h3>Social Media</h3>
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.twitter.com" target="_blank"
                    role="button"><i class="fab fa-twitter"></i> Twitter</a>

                <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/" target="_blank"
                    role="button"><i class="fab fa-linkedin-in"></i> LinkedIn</a>

                <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" target="_blank"
                    role="button"><i class="fab fa-instagram"></i> Instagram</a>

                <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" target="_blank"
                    role="button"><i class="fab fa-facebook"></i> Facebook</a>
                <hr>
                <h3>Useful Links</h3>
                <a class="btn btn-outline-light btn-floating m-1" href="{% url 'home' %}" role="button"> Home</a>

                <a class="btn btn-outline-light btn-floating m-1" href="{% url 'home' %}#about" role="button"> About
                    Us</a>

                <a class="btn btn-outline-light btn-floating m-1" href="{% url 'humanitas_blog_page' %}" role="button">
                    Stories</a>

                <a class="btn btn-outline-light btn-floating m-1" href="{% url 'booking_home' %}" role="button"><i
                        class="fa-solid fa-phone-volume"></i> Book A Call </a>
            </section>
        </div>

    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="{% url 'home' %}">Humanitas | Educational Purpose Only</a>
    </div>
</footer>

{% endblock footer %}