{% extends 'base.html' %}
{% block content %}
{% load static %}
{% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}
<!-- Hero section -->
<div class="container-fluid  mt-0 bg-dark">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active vh-100">
                <img src="static/images/cacc3ba3-3ecc-4dcd-a230-88ee0ad4cb98.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item vh-100">
                <img src="static/images/cd386f3c-bd92-492d-82ac-d1df0026f329.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item vh-100">
                <img src="static/images/73f5d459-7399-4400-9130-b4162e7bc061.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Our Community -->
<div class="container-fluid">
    <div class="row">

    </div>
</div>
<section class="about about-section text-center">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class=" mb-4">
                    About Us
                </h2>
                <div>
                    <p>Hey this is a section for about</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% block footer %}{% include 'footer.html' %}{% endblock footer %}
{% endblock content %}