{% extends 'base.html' %}
{% block content %}
{% load static %}
{% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}
<!-- Hero section -->
<section id="hero">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="text-white col" id="hero-content">
                <h1 class="text-center">Humanitas</h1>
                <h3 class="text-center">Act To Connect</h3>
            </div>
            <div class="carousel-item active">
                <img src="https://res.cloudinary.com/dh6umdpzt/image/upload/v1685004733/kids_fw7c9w.jpg"
                    class="d-block w-100" alt="Kids">

            </div>
            <div class="carousel-item">
                <img src="https://res.cloudinary.com/dh6umdpzt/image/upload/v1685004734/poor_wozfzt.jpg"
                    class="d-block w-100" alt="Poverty">

            </div>
            <div class="carousel-item">
                <img src="https://res.cloudinary.com/dh6umdpzt/image/upload/v1685004733/men-together_d373n2.jpg"
                    class="d-block w-100" alt="Men">

            </div>
        </div>
    </div>

</section>

<!-- Our Mission Our Vision -->
<section id="vision">
    <div class="container-fluid px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <h2 class="text-center mb-4">
                Our Vision
            </h2>
            <div class="col-lg-4">
                <img src="" alt="vision-image">

            </div>
            <div class="col-lg-8">

                <p>At Humanitas, we envision ourselves as a worldwide hub connecting individuals with diverse assistance
                    needs. Whether
                    it's local community support, legal guidance, or aid organizations addressing critical human rights
                    issues, we aim to
                    serve as the central point for accessing help in any situation.

                    In the years to come, our goal is to ensure that every person, regardless of their location, can
                    turn to Humanitas
                    whenever they require assistance. We see ourselves as a valuable intermediary, lightening the load
                    for institutions and
                    companies by connecting people in need with the right resources. By doing so, we foster a more
                    efficient approach to
                    addressing the concerns and needs of humanity.</p>

            </div>
        </div>
</section>
<section id="mission">
    <div class="container-fluid px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <h2 class=" text-center mb-4">
                Our Mission
            </h2>
            <div class="col-lg-8">

                <p>Across the world, countless opportunities exist to find assistance for every problem that arises.
                    However, if a person
                    doesn't know where or how to seek help, they may never receive the support they truly need. This
                    applies to everyday
                    worries, managing illnesses, dealing with bullying, and even grappling with profound challenges
                    like
                    suicidal thoughts.

                    When individuals face problems, their performance and well-being are inevitably impacted to
                    varying
                    degrees. This, in
                    turn, has far-reaching consequences for humanity as a whole, including social security systems,
                    workplaces, and beyond.

                    At Humanitas, our mission is to provide every individual with the help they require. This
                    assistance
                    can take the form
                    of connecting them with existing support resources such as aid organizations, associations,
                    psychotherapists, medical
                    professionals, legal advisors, and more. Alternatively, it may involve engaging in a
                    conversation
                    with one of our
                    specially trained "Green Angels."

                    Through Humanitas, we strive to ensure that no one is left without the assistance they need,
                    empowering individuals to
                    overcome obstacles and regain their well-being.</p>
            </div>
            <div class="col-lg-4">
                <img src="" alt="mission-image">

            </div>
        </div>
    </div>
</section>

{% block footer %}{% include 'footer.html' %}{% endblock footer %}
{% endblock content %}