{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}


<div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'humanitas_blog_page'%}">Back to Our Stories</a>
</div>

<article class="media content-section row">
    <div class="media-body">

        <div class="article-metadata">
            <strong>
                <p>{{ object.creator }}</p>
            </strong>
            {% if object.creator == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'update_blog' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete_blog' object.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <p class="article-content">
            <img src="{{object.cover_image.url}}" class="imgpost">
            <small class="text-muted">{{ object.created_on|date:"F d, Y" }}</small>
        </p>

</article>


<div class="main-comment-section">
    {{comments.count}} Comment{{comments|pluralize}}
</div>


{% for comment in comments %}
<blockquote class="blockquote">
    <p>{{ comment.content}}</p>
    <footer class="blockquote-footer">
        By <cite>{{comment.author|capfirst}}

            {% ifequal object.creator.id user.id %}
            <a href="{% url 'blog_comment' comment.id %}" style="color: #585858;"><i class="fa fa-trash fa-lg"
                    aria-hidden="true"></i></a>
            {% endifequal %}
            {% ifequal comment.author.id user.id %}
            <a href="{% url 'blog_comment' comment.id %}" style="color: #585858;"><i class="fa fa-trash fa-lg"
                    aria-hidden="true"></i></a>

            {% endifequal %}
            
        </cite>
    </footer>
</blockquote>
{% endfor %}
<div>
    <form method="POST">
        {% csrf_token %}
        {{comment_form.as_p}}
        <input type="submit" name="comment" class="btn btn-warning">

    </form>
</div>
<!-- Blog Entries Column -->
{% endblock content %}