<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}
    {% load crispy_forms_tags %}
    <!-- Blog Entries Column -->
    <div class="col-12 mt-3 left">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="image-container">
                            <div class="article-metadata">


                                {% if "placeholder" in post.cover_image.url %}
                                <img class="card-img-top"
                                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.cover_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Blog By: {{ post.creator }}</p>
                                    {% if post.creator == user %}
                                    <div>
                                        <a class="btn btn-secondary btn-sm mt-1 mb-1"
                                            href="{% url 'update_blog' post.id %}">Update</a>
                                        <a class="btn btn-danger btn-sm mt-1 mb-1"
                                            href="{% url 'delete_blog' post.id %}">Delete</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <h3 class="card-title">{{ post.title }}</h3>
                            </a>
                            <hr />

                            <p class="card-text text-muted h6">{{ post.updated_on}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col card mb-4  mt-3 top">
                    <div class="card-body">
                        <!-- The post content goes inside the card-text. -->
                        <!-- Use the | safe filter inside the template tags -->
                        <p class="card-text ">
                            {{ post.body | safe }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments">Comments</i>
                            <!-- Our total_comments variable goes before the closing strong tag -->
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 card mb-4  mt-3 ">
                    <h3>Comments:</h3>
                    <div class="card-body">
                        <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                        {% for comment in comments %}
                        <div class="comments" style="padding: 10px;">
                            <span class=" text-muted font-weight-normal">
                                <!-- The comment's created date goes here -->
                                {{ comment.created_on }}
                            </span>
                            <p class="font-weight-bold">
                                <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                                {{ comment.name }} wrote:

                            </p>
                            <!-- The body of the comment goes before the | -->
                            {{ comment.content | linebreaks }}
                        </div>
                        <!-- Our for loop ends here -->
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4 card mb-4  mt-3 ">
                    <div class="card-body">
                        <form method="post" class="mt-2 formlabel" style="margin-top: 1.3em;"
                            data-url="{% url 'blog_details' post.pk %}">
                            {% csrf_token %}
                            <div class="form-group d-flex">
                                {{ comment_form.as_p }}
                                <div class="d-flex align-items-end">
                                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://kit.fontawesome.com/90f07a2b1c.js" crossorigin="anonymous"></script>
</body>

</html>