{% extends 'base.html' %}
{% block content %}
{% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}
{% load crispy_forms_tags %}
<section id="recent-blog-posts" class="recent-blog-posts">
    <div class="jumbotron">
        <h1 class="display-4">Our Stories</h1>
        <hr class="my-4">
    </div>
    <div class="row gy-5">
        {% for post in humanitas_post|slice:":4" %}
        <div class="col-xl-4 col-md-6 " data-aos="fade-up" data-aos-delay="100">
            <div class="post-item position-relative h-100">

                <div class="post-img position-relative overflow-hidden">
                    <img src="{{ post.cover_image.url}}" class="img-fluid" alt="Card image cap">
                    <span class="post-date">{{ post.created_on|date:"F d, Y" }}</span>
                </div>

                <div class="post-content d-flex flex-column">

                    <h3 class="post-title">{{ post.title }}</h3>

                    <div class="meta d-flex align-items-center">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-person"></i> <span class="ps-2">By: {{ post.creator }}</span>
                        </div>

                    </div>
                    <hr>
                    <div class="d-flex align-items-center">
                        <i class="bi bi-folder2"></i> <span class="ps-2">{{ post.body|slice:":50"}}
                        </span>
                    </div>
                    <hr>

                    <a href="{% url 'blog_details' post.pk %}" class="readmore stretched-link"><span>Read More</span><i
                            class="bi bi-arrow-right"></i></a>

                </div>

            </div>
        </div><!-- End post item -->
        {% endfor %}

    </div>
</section>
{% endblock content %}