<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}
    <div class="jumbotron">
        <h1 class="display-4">Our Stories</h1>
        <hr class="my-4">
    </div>

    <div class="row">
        {% for post in humanitas_post|slice:":4" %}
        <div class="col-sm-6">
            <article class="media content-section" style="align-content: center;">

                <div class="card mb-3 row">
                    <img class="card-img-top" src="{{ post.cover_image.url}}" alt="Card image cap"
                        style="height: 100%;width:100%;">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">By : {{ post.creator }} </p>
                        <p class="card-text">
                        <p class="card-text">{{ post.body|slice:":50"}}</p>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1"
                            href="{{% url 'blog_details' post.pk as blog_details_url %}">Read
                            More</a>
                        </p>
                    </div>
                </div>
            </article>
        </div>
        {% endfor %}
    </div>
</body>

</html>