{% extends 'base.html' %}
{% block content %}
{% block nav-bar %}{% include 'navbar.html' %}{% endblock nav-bar %}
{% load crispy_forms_tags %}
<section class="stories">
    <div class="bg-light">
        <h1 class="text-center mb-4">Our Stories</h1>
    </div>
    <hr>
    <div class="container-fluid pt-3">
        <div class="row">
            {% for post in humanitas_post %}
            <div class="col-sm-6 mb-4 d-flex align-items-center justify-content-center">
                <div class="card" style="width: 25rem; height: 30rem;">
                    {% if 'placeholder' in post.cover_image.url %}
                    <img src="https://res.cloudinary.com/dh6umdpzt/image/upload/v1685004732/logo2_vhwxu5.jpg"
                        alt="humanitas-logo " class="card-img-top">
                    {% else %}
                    {% load cloudinary %}
                    {% cloudinary post.cover_image class="card-img-top" alt="story-image-by-user" %}
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">By : {{ post.creator }}</h6>
                        <p class="card-text">{{ post.body|slice:":80"}}</p>
                        <div class="d-flex align-items-center justify-content-between"> <a
                                href="{% url 'blog_details' post.pk %}" class="card-link">Read More</a>
                            <p class="text-secondary"><i class="fas fa-comments">Comments</i></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</section>

{% block footer %}{% include 'footer.html' %}{% endblock footer %}
{% endblock content %}